.create-ride-main-container {
    min-height: calc(100vh - 80px);
    max-height: calc(100vh - 80px);
    overflow-y: auto;
    padding: 24px;
}

.create-ride-form-container {
    background-color: white;
    min-width: 200px;
    max-width: 500px;
    margin: auto;
    padding: 24px;
    border-radius: 12px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border: 0.5px solid rgba(100, 100, 111, 0.2);
}

.create-ride-form-container > h2 {
    margin-bottom: 48px;
}

.create-ride-form-input {
    display: flex;
    flex-direction: column;
    margin: 12px 0px;
}

.create-ride-form-input > label {
    font-size: 0.9em;
    font-weight: 600;
    margin: 8px 0px;
    font-weight: bold;
}
.create-ride-form-input > label > span {
    font-weight: 500;
    font-size: 0.8em;
    opacity: 0.6;
    margin-left: 4px;
}

.create-ride-form-input > input, .create-ride-form-input > select {
    padding: 12px;
    border: 1px solid rgba(14, 30, 37, 0.186);
    border-radius: 4px;
    font-size: 0.9em;
    font-weight: 400;
}
.create-ride-form-input > textarea {
    margin-bottom: 24px;
}





.input-file-container {
    padding: 48px;
    border: 1px solid rgba(0, 0, 0, 0.075);
    border-radius: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    transition: all 0.2s ease-in-out;
    color: rgba(0, 0, 0, 0.366);
    font-size: 1.5em;
    font-weight: 200;
    cursor: pointer;
}
.input-file-container:hover {
    border-color: #007bff;
}
.input-file-container input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: relative;
    z-index: -1;
}

.input-file-container label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.input-file-container label i {
    font-size: 3em;
    margin-bottom: 24px;
    opacity: 0.4;
}

.error-text {
    background: yellow;
    padding: 2px;
}

/* Edit ride*/

.edit-ride-back-btn {
    top: 0;
    left: 0;
    padding: 8px;
    display: flex;
    width: 100px;
    gap: 6px;
    align-items: center;
    cursor: pointer;
    transform: translate(-24px, -12px);
    font-size: 0.9em;
}
.edit-ride-back-btn:hover {
    opacity: 0.8;
}
