.landing-page-main-container {
    background-color: var(--secondary-color);
    background-color: rgba(255, 0, 0, 0.129);
    background-color: transparent;
    min-height: 100vh;
    max-width: 1400px;
    margin: auto;
}

.landing-page-first-view {
    height: 100vh;
}

/* HEADER */
.landing-page-header {
    height: 120px;
    padding: 0px 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Khyay';
    z-index: 3;
}

.landing-page-brand {
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 1px;
}

.landing-page-logo {
    height: 60px;
    width: auto;
    display: block;
    margin: 0 auto;
  }

.landing-page-auth-btns {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.landing-page-login-btn {
    color: var(--dark-color);
    padding: 24px;
    margin-right: 12px;
    font-weight: bold;
    transition: color 0.2s ease-in-out 0.1s, transform 0.2s ease-in-out 0.1s;  
}

.landing-page-login-btn:hover {
    transform: scale(1.1);
    opacity: 0.9;
}  

/* BODY */

.landing-page-intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 120px);
    padding: 80px;
    padding-top: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.landing-page-intro img {
    border-radius: 15%;
    /* 
    width: min(60vw, 900px);      
    height: auto;
    */
    width: 500px;
    height: 425px;              
    object-fit: cover;            
    max-height: 600px;
    border: solid 7px var(--primary-color);             
  }


.landing-page-intro-text {
    margin-left: 48px;
    color: var(--dark-color);
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: left;
}
.landing-page-intro-text > h1 {
    font-size: 3.5rem;
    gap: 0;
    margin: 0px;
}
.landing-page-intro-text > p {
    font-weight: 400;
    font-size: 1.2rem;
    opacity: 0.7;
    margin-bottom: 24px;
}


@media only screen and (max-width: 800px) {
    .landing-page-header {
        padding-top: 24px;
        flex-direction: column;
        gap: 20px;
        color: white;
        text-shadow: 2px 2px 15px var(--primary-color), 1px 1px 5px var(--primary-color);
        z-index: 10;
        position: relative;
        height: auto;
        /* transform: translateY(20%); */
        margin-top: 20px;
    }
    

    .landing-page-login-btn {
        background-color: var(--secondary-color);
        padding: 12px 48px;
        border-radius: 8px;
        text-shadow: none;
        border: 1px solid var(--primary-color);
        color: var(--primary-color);
    }

    .landing-page-auth-btns {
        margin-top: 24px;
    }

    .landing-page-intro {
        flex-direction: column;
        justify-content: center;
        padding: 0 60px 0 60px;
        gap: 24px;
    }

    .landing-page-intro img {
        width: 352.9px;
        height: 300px;
    }

    .landing-page-intro-text > h1 {
        font-size: 2rem; 
    }
    
    .landing-page-intro-text > p {
        font-size: 1rem;
    }

    .landing-page-intro-text {
        margin: 0px;
        align-items: center; 
        text-align: center;
    }

    .landing-page-get-started {
        margin-bottom: 96px;
    }
}