.login-main-container {
    background-color: var(--secondary-color);
    height: 100vh;
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form-container {
    background-color: white;
    padding: 48px;
    border-radius: 4px;
    border: 0.5px solid rgba(14, 30, 37, 0.12);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    width: 100%;
    max-width: 480px;
    opacity: 0; /* Start with the form invisible */
    animation: fadeInAnimation ease 1s; /* Adjust the duration (1s here) as needed */
    animation-fill-mode: forwards; /* Ensures the form stays visible after animation */
}
@keyframes fadeInAnimation {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
.login-form-brand {
    text-transform: uppercase;
    color: var(--dark-color);
    font-size: 1.2em;
    letter-spacing: 1px;
    opacity: 0.9;
    font-family: "Khyay";
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}

.login-form-input {
    display: flex;
    flex-direction: column;
    margin: 12px 0px;
}
.login-form-input > label {
    font-size: 0.9em;
    font-weight: 600;
    margin: 8px 0px;
    font-weight: bold;
}
.login-form-input > input {
    padding: 12px;
    border: 1px solid rgba(14, 30, 37, 0.186);
    border-radius: 4px;
    font-size: 0.9em;
    font-weight: 400;
}


.login-form-login-btn {
    padding-top: 24px;
}
.login-form-to-signup {
    display: flex;
    justify-content: center;
    font-size: 0.75em;
    padding: 12px;
    opacity: 0.7;
}
.login-form-to-signup > span {
    margin-left: 4px;
    color: rgb(71, 136, 255);
}


@media only screen and (max-width: 800px) {
    .login-form-container {
        padding: 48px 24px;
        width: 100%;
        max-width: 95vw;
    }
}