.profile-page-main-container {
    min-height: 100vh;
    max-height: 100vh;
    overflow-y: auto;
}

.profile-page-grid {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 48px;
    gap: 24px;
    display: flex;
    flex-direction: column;
}



.profile-page-user-info {
    display: flex;
    margin-bottom: 100px;
    position: relative;
}
.profile-page-user-info::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 0.5px;
    background-color: rgba(0, 0, 0, 0.342);
    bottom: -40px;
    left: 10%;
}

.profile-page-user-info .user-image img,
.profile-page-user-info .user-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 2px solid var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    color: white;
    position: relative;
}

.upload-label {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.377);
    color: rgba(255, 255, 255, 0.814);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 50%;
    overflow: hidden;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 12px;
}

.upload-label i {
    font-size: 4em;
}

.user-image:hover .upload-label {
    opacity: 1;
}

.profile-page-user-info .user-name-and-image-container {
    padding: 24px;
}


.profile-page-user-info .user-name {
    width: 200px;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 1.3em;
    padding: 24px 0px;
}

.profile-page-user-info .private-profile-badge {
    padding-left: 5px;
}





.profile-page-user-stats {
    margin-top: 24px;
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.profile-page-user-stats-data {
    padding: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 12px;
    
    flex-grow: 1;
}
.profile-page-user-stats-data > div {
    
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    border-radius: 12px;
}
.profile-page-user-stats-data > div > div:first-child {
    font-weight: 600;
    font-size: 0.8em;
}
.profile-page-user-stats-data > div > div:last-child {
    font-weight: 200;
    font-size: 1.6em;
    opacity: 0.6;
}










/* Upcoming rides */

.profile-page-user-upcoming-rides, .profile-page-user-past-rides, .profile-page-friends-container {
    background-color: white;
    padding: 24px;
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    box-sizing: border-box;
    border: 0.5px solid rgba(14, 30, 37, 0.12);
    margin-bottom: 80px;
}
.profile-page-user-upcoming-rides-data, .profile-page-user-past-rides-data, .profile-page-list-container {
    display: flex;
    gap: 24px;
}

.profile-page-user-rides-hosted, .profile-page-user-rides-joined, .profile-page-list-display {
    flex-grow: 1;
    
}
.profile-page-user-rides-hosted > div, .profile-page-user-rides-joined > div {
    max-height: 300px;
    overflow-y: auto;
}



.profile-page-main-container h5 {
    padding: 12px;
    border: 0.5px solid rgba(209, 215, 221, 1);
}
.profile-page-user-rides-list-item, .profile-page-friend-list-item {
    padding: 12px;
    border: 0.5px solid rgba(209, 215, 221, 1);
    transition: 0.2s ease-in-out all;
}
.profile-page-user-rides-list-item:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.071);
}

.profile-page-user-rides-list-item > p{
    margin: 0px;
}

.profile-page-user-rides-list-item > .ride-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-page-user-rides-list-item > .ride-title > .ride-date {
    font-size: 0.8em;
    font-weight: 600;
    opacity: 0.7;
}
.profile-page-user-rides-list-item > .ride-location {
    padding-top: 8px;
    font-size: 0.8em;
    color: rgba(32, 32, 32, 0.873);
}

.profile-page-user-rides-list-item i {
    margin-right: 4px;
    padding: 4px;
}



.profile-page-user-event-no-rides-text {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.273);
    font-size: 0.9em;
}


/* User List (Shamelessly Copied From 'ride-feed-card.css') */

.profile-page-friend-list-item {
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 8px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    overflow-y: auto;
    border: 1px solid var(--dark-color);
    border-radius: 12px;
    margin: 2px;
    min-height: 70px;
}

.profile-page-friend-list-item > .image {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--primary-color);
    border: 2px solid var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    color: white;
    position: relative;
}

.profile-page-friend-list-item > .name {
    padding-left: 10px;
    text-align: left;
    font-size: 17px;
}

.profile-page-friend-list-tab {
    margin: 0px;
    border: 0.5px solid rgba(209, 215, 221, 1);
    border-radius: 5px 5px 0px 0px;
    padding: 5px 7px;
    background-color: white;
    font-size: 18px;
    float: left;
}

.profile-page-friend-list-tab:hover {
    cursor: pointer;
}

.profile-page-friend-list {
    border: 0.5px solid rgba(209, 215, 221, 1);
    display: block;
    width: 100%;
    float: left;
    flex-grow: 1;
}

.profile-page-friend-panel-display {
    border: 0.5px solid rgba(209, 215, 221, 1);
    display: block;
    width: 100%;
    float: right;
    min-height: 500px;
    flex-grow: 1;
}

.profile-page-list-panel-display {
    width: 100%;
    display: flex;
    float: left;
    gap: 24px;
}

.profile-page-friend-request-button-container {
    float: right;
    max-width: 100%;
    flex-basis: 0.1;
    margin-left: auto;
    
}

.profile-page-friend-request-reject-button {
    border-radius: 50%;
    border: 2px solid red;
    color: red;
    margin: 5px;
    padding: 0px 10px;
    aspect-ratio: 1;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    width: 40px;
}

.profile-page-friend-request-accept-button {
    border-radius: 50%;
    border: 2px solid green;
    color: green;
    margin: 0px;
    padding: 0px 10px;
    aspect-ratio: 1;
    text-align: center;
    font-size: 18px;
    margin-left: 5px;
    vertical-align: middle;
    width: 40px;
}

.profile-page-friend-request-reject-button:hover, .profile-page-friend-request-accept-button:hover {
    cursor: pointer;
}
/* Popover */

.profile-page-popover-ride-details-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.167);
    height: 103vh;
    width: 100vw;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-page-popover-ride-details-container > .popover-ride-details {
    background-color: white;
    padding: 48px;
    border-radius: 4px;
    border: 0.5px solid rgba(14, 30, 37, 0.12);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    min-width: 450px;
    max-width: 90vw;
    position: relative;
}
.profile-page-popover-ride-details-container > .popover-ride-details > span {
    font-size: 0.8em;
}
.profile-page-popover-ride-details-container > .popover-ride-details > .close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 1.5em;
    cursor: pointer;
}

/* Based On Profile Modal Style */

.profile-page-panel-name {
    height: 18px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
    display: inline-block;
}

.profile-page-panel-name-big {
    height: 22px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.profile-page-panel-header {
    display: block;
    width: 100%;
}

.profile-page-panel-content {
    display: flex;
    width: 100%;
    margin: 4px 0px;
}

.profile-page-panel-name-container {
    height: 60px;
    width: 75%;
    display: block;
    flex-direction: column;
    padding: 0px;
    margin: 20px 2.5% 0px 2.5%;
    float: right;
}

.profile-page-panel-image {
    background-color: var(--primary-color);
    border-radius: 50%;
    border: 2px solid var(--dark-color);
    color: white;
    width: 15%;
    aspect-ratio: 1;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0% 0px 5%;
    padding: 0px;
    font-size: 48px;
}

.profile-page-panel-descriptor-left {
    height: 20px;
    /*flex-basis: 50%;*/
    margin: 2px 5px;
    text-align: center;
    width: 15%;
    margin-left: 5%;
}

.profile-page-panel-descriptor-right {
    height: 20px;
    width: 75%;
    margin: 2px 5px;
    float: right;
    text-align: right;
}

.profile-page-panel-reject-button {
    border-radius: 2%;
    border: 2px solid red;
    color: red;
    margin: 5px;
    margin-left: 15%;
    padding: 0px 10px;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
    width: 30%;
    height: 50px;
}

.profile-page-panel-accept-button {
    border-radius: 2%;
    border: 2px solid green;
    color: green;
    margin: 5px;
    padding: 0px 10px;
    text-align: center;
    font-size: 18px;
    margin-left: 10%;
    vertical-align: middle;
    width: 30%;
    height: 50px;
}

.profile-page-panel-buttons {
    width: 100%;
    position: absolute;
    bottom: 10px;
}

.profile-page-panel {
    display: block;
    position: relative;
    /*width: 100%;*/
    height: 600px;

}

@media only screen and (max-width: 800px) {

    .profile-page-grid {
        padding: 24px;
    }

    .profile-page-user-events {
        flex-direction: column;
    }

    .profile-page-user-info {
        flex-direction: column;
        align-items: center;
    }

    .profile-page-user-stats-data {
        flex-direction: column;
    }


    .profile-page-user-upcoming-rides-data, .profile-page-user-past-rides-data  {
        flex-direction: column;
        gap: 24px;
    }

    .profile-page-user-rides-hosted, .profile-page-user-rides-joined {
        width: 100%;
    }

    /*
    .profile-page-friend-panel-display, .profile-page-friend-list {
        width: 100%;
    }
    */
}