.button {
  padding: 14px 46px;
  border-radius: 8px;
  border: 0px;
  letter-spacing: 0.3px;
  font-family: 'Khyay';
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1; /* Ensure button is above other elements */
}

.button:hover {
  cursor: pointer;
}

.button-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 1; /* Ensure button is above other elements */
}

.button-primary:hover {
  background-color: var(--primary-color-hover);
}

.button-primary:active {
  background-color: var(--primary-color-active);
  transform: scale(0.98);
}

.button-transparent {
  background-color: transparent;
  color: var(--primary-color);
  z-index: 1; /* Ensure button is above other elements */
}

.button-secondary {
  border: 2px solid var(--primary-color);
  background-color: white;
  color: var(--primary-color);
  z-index: 1; /* Ensure button is above other elements */
}

.button-secondary:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.button-warning {
  color: #ea4335;
  border: 2px solid #ea4335;
  background-color: white;
  z-index: 1; /* Ensure button is above other elements */
}

.button-warning:hover {
  background-color: #ea4335;
  color: white;
}

.button-disabled {
  opacity: 0.3;
  cursor: not-allowed;
  z-index: 1; /* Ensure button is above other elements */
}

.add-friend-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  z-index: 1; /* Ensure button is above other elements */
}

/* .add-friend-button:hover {
  background-color: var(--primary-color-hover);
} */

.add-friend-button:active {
  background-color: var(--primary-color-active);
  transform: scale(0.98);
}

.add-friend-button[disabled] {
  background-color: grey;
  cursor: not-allowed;
}