.button {
  padding: 14px 46px;
  border-radius: var(--radius-base);
  border: 0px;
  letter-spacing: 0.3px;
  font-family: var(--font-family-accent);
  transition: var(--transition-base);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: var(--shadow-md);
}

.button.button-primary:hover {
  background-color: var(--primary-color-hover);
  box-shadow: var(--shadow-md);
}

.button-transparent {
  background-color: transparent;
  color: var(--primary-color);
}

.button-secondary {
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.button-secondary:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.button-warning {
  color: var(--error-color);
  border: var(--error-color);
  background-color: var(--white);
}
.button-warning:hover {
  cursor: pointer;
  background-color: var(--error-color);
  color: var(--white);
}

.button-disabled {
  opacity: 0.3;
}
.button-disabled:hover {
  cursor: not-allowed;
}
