/* event-modal.css */
.profile-page-popover-ride-details-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal is on top */
}

.ride-card-modal-overlay {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001; /* Ensure the content is on top of the overlay */
}

.ride-card-modal-container {
  position: relative;
  background: white;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001; /* Ensure the content is on top of the overlay */
}

.rode-card-close-modal {
  position: absolute;
  top: 6px;
  right: 6px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  font-size: 1.4em;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1002;
}

.rode-card-close-modal:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.381);
}