.friend-button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 14px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.friend-button-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.friend-button-primary:hover {
  background-color: var(--primary-color-light);
}

.friend-button-primary:active {
  background-color: var(--primary-color-active);
  transform: scale(0.98);
}

.friend-button-secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}

.friend-button-secondary:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.friend-button-pending {
  background-color: var(--warning-color);
  color: var(--dark-color);
}

.friend-button-friend {
  background-color: var(--success-color);
  color: var(--secondary-color);
}

.friend-button-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.add-friend-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  z-index: 1; /* Ensure button is above other elements */
}

.add-friend-button:active {
  background-color: var(--primary-color-active);
  transform: scale(0.98);
}

.add-friend-button[disabled] {
  background-color: grey;
  cursor: not-allowed;
}

.button-primary:hover {
  background-color: var(--primary-color-hover);
}

.button-primary:active {
  background-color: var(--primary-color-active);
  transform: scale(0.98);
}

.friend-button-container {
  display: flex;
  justify-content: bottom; 
  align-items: bottom; 
  margin: 20px 0; 
}