.popup {
    width: 200px;
    height: 150px;
    display: flex;
    z-index: 999;
}

.profile-modal-name {
    height: 18px;
    width: 250px;
    padding: 0px;
    margin: 0px;
    text-align: center;

    display: inline-block;
    /*border: 1px solid red;*/
}

.profile-modal-name-big {
    height: 22px;
    width: 250px;
    padding: 0px;
    margin: 0px;
    text-align: center;
    /*border: 1px solid red;*/
}

.profile-modal-header {
    display: block;
    width: 100%;
}

.profile-modal-content {
    display: flex;
    width: 300px;
    margin: 4px 0px;
}

.profile-modal-name-container {
    height: 60px;
    width: 250px;
    left: 0px;
    position: relative;
    display: block;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    float: right;
    /*border: 1px solid blue;*/
}

.profile-modal-image {
    background-color: var(--primary-color);
    border-radius: 50%;
    border: 2px solid var(--dark-color);
    color: white;
    width: 50px;
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    left: 10px;
}

.profile-modal-descriptor-left {
    height: 20px;
    flex-basis: 50%;
    margin: 2px 5px;
    
}

.profile-modal-descriptor-right {
    height: 20px;
    flex-basis: 75%;
    margin: 2px 5px;
    float: right;
    text-align: right;
}

.add-friend-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

.add-friend-button:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.profile-modal-actions {
    margin-top: 10px;
    text-align: left;
}
