.ride-feed-card-main-container {
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.185);
    border-radius: 12px;
    display: flex;
    align-items: flex-end;
    gap: 24px;
    position: relative;
    width: 700px;
}
.card-map-view:hover {
    cursor: pointer;
}

.ride-feed-card-main-container > .ride-feed-card-route-map > .card-map-view {
    min-height: 250px !important;
    position: relative;
}

.card-map-view::after {
    content: "View Details";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25); /* Semi-transparent black overlay */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Initially invisible */
    transition: opacity 0.2s ease-in-out; /* Smooth transition for the opacity */
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.241), 0px 0px 5px #00000058;
  }
  
  .card-map-view:hover::after {
    opacity: 1; /* Make the overlay visible on hover */
  }


.ride-feed-card-main-container > .ride-feed-card-values {
    flex-grow: 1;
    padding: 0px;
}
.ride-feed-card-main-container > .ride-feed-card-values > h2 span {
    font-size: 0.5em;
    font-weight: 400;
    opacity: 0.7;
}
.ride-feed-card-main-container > .ride-feed-card-values > h2 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.ride-feed-card-main-container > .ride-feed-card-values > p {
    color: rgba(0, 0, 0, 0.653);
    font-size: 0.8em;
    margin: 0px;
    margin-top: 4px;
}

.ride-feed-card-main-container > .ride-feed-card-values > .rsvp-button {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.ride-feed-card-main-container > .ride-feed-card-values > .rsvp-button > .rsvp-icons {
    display: flex;
    flex-direction: row;
}
.ride-feed-card-main-container > .ride-feed-card-values > .rsvp-button span {
    padding-bottom: 12px;
    margin-right: 12px;
    opacity: 0.7;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 0.8em;
    font-weight: 500;
}


.ride-feed-card-main-container > .ride-feed-card-matching-score {
    position: absolute;
    top: 24px;
    right: 24px;
}
.ride-feed-card-main-container > .ride-feed-card-matching-score > div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 0.8em;
    font-weight: 700;
    text-align: center;
}
.ride-feed-card-main-container > .ride-feed-card-matching-score > div i {
    margin-left: 6px;
}
/*
.ride-feed-card-tags {
    height: 100%;
    max-width: 150px;
    /*width: 115px;
}
*/

.ride-feed-card-tags {
    min-width: 100%;
    display: inline-block;
}

.tag{
    text-wrap: nowrap;
    float: top;
    float: left;
    margin: 2px;
    border-radius: 15px;
    font-size: 14px;
    padding: 4px 7px 4px 7px;
    color: var(--secondary-color);
    background: var(--primary-color);
}


/* Card Pop over modal */

.ride-card-modal-overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.229);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.ride-card-modal-container {
    background-color: white;
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.185);
    border-radius: 12px;
    position: relative;
    min-width: 600px;
    width: 800px;
    max-width: 95vw;
    max-height: 95vh;
    overflow: auto;
}

.ride-card-modal-container > img {
    background-color: green;
    width: 100%;
}

.ride-card-modal-values-container {
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

.ride-card-modal-values-container h5 {
    padding: 12px;
    border: 0.5px solid rgba(209, 215, 221, 1);
}

.ride-card-modal-values {
    padding: 12px;
}
.ride-card-modal-values > p {
    color: rgba(0, 0, 0, 0.653);
    font-size: 0.85em;
    margin: 0px;
    margin-top: 6px;
}
.ride-card-modal-values > .rsvp-button {
    margin-top: 12px;
}


.rode-card-close-modal {
    position: absolute;
    top: 6px;
    right: 6px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    font-size: 1.4em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.rode-card-close-modal:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.381);
}


@media only screen and (max-width: 900px) {
    .ride-feed-card-main-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .ride-feed-card-main-container > .ride-feed-card-route-map {
        width: 100%;
        height: auto;
    }

    .ride-feed-card-main-container > .ride-feed-card-values {
        width: 100%;
    }

    .ride-feed-card-main-container > .ride-feed-card-tags {
        width: 100%;
    }

    .ride-feed-card-main-container > .ride-feed-card-values > .rsvp-button {
        width: 100%;
    }


    .ride-feed-card-main-container > .ride-feed-card-route-map > img {
        padding: 12px;
        width: 100%;
        min-height: none;
        max-height: none;
    }

    .ride-feed-card-main-container > .ride-feed-card-matching-score {
        position: absolute;
        right: 24px;
        top: 24px;
        padding-top: 8px;
        padding-right: 8px;
        padding-left: 12px;
        padding-bottom: 12px;
        background-color: white;
        border-bottom-left-radius: 12px;
    }


    .ride-card-modal-container {
        min-width: 100px;
    }
    .ride-card-modal-container > .ride-card-modal-values {
        padding: 0px;
        padding-top: 24px;
    }
    
}