:root {
    /* ---- Brand Color Palette (in same order) ---- */
    --dark-color: #242430;
    --secondary-color: #F4EAE1;
        --light-color: #F4EAE1;
    --dark-blue: #024059;
    --info-color: #84C1D9;
    --primary-color: #014011;
    --primary-color-light: #269F44; /* only use with black BOLD text */
        --success-color: #269F44;
    --primary-color-light-light: #C9D9CD;
    
    /* ---- NOT in Brand palette ---- */
    --error-color: #dc3545;
    --error-color-light: #e57373;
    --warning-color: #ffbf00;
    
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: var(--dark-color);
}

html, body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

a {
    text-decoration: none;
}
a, a:visited, a:hover, a:active {
    color: inherit;
}

input:focus, textarea:focus, select:focus {
    outline: 1.5px solid var(--primary-color);
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
    box-sizing: border-box;
}

textarea {
    border: 0.5px solid rgba(0, 0, 0, 0.159);
    border-radius: 12px;
    padding: 12px;
    box-sizing: border-box !important;
    resize: vertical;
}

input[type="range"]:focus {
    outline: none;
}

.fa-circle-check {
    color: rgb(76, 175, 80);
}
.fa-circle-minus {
    color: rgb(255, 235, 59);
}
.fa-circle-xmark {
    color: rgb(244, 67, 54);
}

button {
    cursor: pointer;
}

@font-face {
    font-family: "Khyay";
    src: url("./assets/Khyay-Regular.ttf") format("truetype");
}